.widget {
	background-color: #f1f1f1;
	border: 1px solid #aaa;
	padding: 10px;
	min-height: 300px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.widgetheaderhide {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	margin-top: 1px;
	margin-left: 16px;
	margin-right: 16px;
	height: 30px;
	background-color: #2450771f;
	z-index: 1001;
}

.widgettitle {
	background-color: #245077;
	color: #fff;
	margin: -10px;
	margin-bottom: 10px;
	padding: 5px;
}

.widgettitle a {
	color: #ccc;
	margin-left: 5px;
	margin-right: 5px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -16px;
    margin-top: -16px;
}

.widgetcanvas {
	height: 245px !important;
}

.widget table input[type=text], .widget table select {
	margin: 0;
	height: 34px;
	background-color: #ddd;
}

table input[type=text] {
	width: 100%;
	padding-left: 5px;	
	border: 1px solid rgb(169, 169, 169);
}

table select {
	color: #333;
	font-weight: normal;
}

table img {
	margin-right: 5px;
}

.filterrow th, .headerrow th {
	background-color: #eee;
}

.filterrow th {
	padding: 5px !important;
}

.dashboardselect {
	background-color: #284777;
	margin-top: -4px;
	margin-right: -4px;
	font-size: 12px;
	color: #fff;
}