body {
	color: #000;
	background-color: #fff;
}

.myleft { text-align:left; } 
.mycenter { text-align:center; } 
.myright { text-align:right; } 
.myfull { text-align:justify; }

.survey-element {
	margin: 25px 5px 5px 5px;
	max-width: 980px;
	overflow-x: auto;
}

.survey-element-anchor {
	position: relative;
	top: -55px;
}

#bodyManagementTest .survey-element-anchor {
	top: -125px;
}

#runner-content a {
	font-size: 16px !important;
	color: #0026FF;
}

#runner-content li.active a {
	color: #FFF;
}

a.btn-primary {
	color: #fff !important;
}

#runner-content .linkstitle {
	color: #000;
	font-size: 19px;
	font-weight: bold;
	margin-top: 10px;
}

#runner-content .shortname {
	color: #A6A6A6;
	font-size: 16px;
	font-weight: normal;
}

#runner-content .surveytitle {
/* 	color: #787878; */
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

#runner-content .sectiontitle {
	color: #000;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
}

#runner-content .questiontitle {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 7px;
	margin-top: 14px;
}

#runner-content .answertext:not(.choice-button-label) {
	color: #000;
	margin-left: 5px;
	font-weight: normal;
}

#runner-content .questionhelp {
	font-size: 15px;
}

#runner-content .tab, #runner-content .selected-tab, #runner-content .form-tab {
	float: left;
	padding: 7px;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
	border-top: 2px solid #999;
	font-size: 13pt;
	margin: 0px;
	margin-left: 5px;
}

#runner-content .info-box {
	margin-bottom: 20px;
	padding: 10px;
	font-size: 16px;
}

#runner-content .tab {
	background-color: #f5f5f5;
	border-bottom: 1px solid #999;
}

#runner-content .form-tab {
	background-color: rgb(212, 230, 247);
	color: rgb(45, 45, 45);
}

#runner-content .selected-tab {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

#runner-content .visiblelink {
	text-decoration: underline;
}

#runner-content .matrix {}
#runner-content .matrixtable td, #runner-content .matrixtable th {padding: 5px; padding-left: 10px; padding-right: 10px; border: 1px solid #bbb; min-width: 10px; width: auto;}
#runner-content .matrix-cell {text-align: center;}

#runner-content .tabletable td, #runner-content .tabletable th {border: 1px solid #bbb; padding: 0 4px 0 4px; min-width: 50px; font-size: 16px;}

#runner-content .table-label {
	font-weight: bold;
}

 .tabletable textarea {
    width: 100% !important;
    /* height: 100% !important; */
    margin: 0px !important;
    display: block;
    padding: 0px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mandatory {
	color: #a20000;
}

.optional {
	visibility: hidden;
}

.numbering {
    margin-right: 5px;
}

#runner-content .validation-error {
	color: #f00; font-weight: bold;
}

#runner-content .limits {
	color: #000;
}

#runner-content .right-area {
float: right;
border-left: 1px solid #ddd;
padding-left: 20px;
padding-right: 30px;
margin-bottom: 30px;
margin-left: 25px;
width: 270px;
overflow: visible;
display: block;
background-color: #fff;
}

.page {
text-align: left;
font-size: 16px;
}

#runner-content .freetext, .number, .date, .matrixtable, .tabletable, .dataTable, .email {
	margin-left: 20px;
}

#runner-content .freetext {
	font-size: 16px;
}

#runner-content .answertext {
	font-size: 16px;
}

#runner-content legend {
	display: none;
}

#runner-content label {
	display: inline;
}

#runner-content label.hideme {
	display: none;
}

.questiontitle div {
    display: inline-block;
}

#runner-content .handsontable td {
	font-size: 16px !important;
	color: #000 !important;
}

#runner-content .handsontable table {
	table-layout: auto !important;	
}

#runner-content input[type="text"].freetext {
    width: 550px;
   	width: 645px;
}

#runner-content textarea.freetext {
	width: 550px;
 	width: 645px;
}

#runner-content .number {
	width: 215px;
}

#runner-content input.regex, input.formula, textarea.regex {
	width: 430px !important;
}

#runner-content input.email {
	width: 402px !important;
}

#runner-content .multiple-choice {
	padding: 5px !important;
	margin: 0px;
}

#runner-content .single-choice {
	padding: 5px !important;
	margin: 0px;
}

#runner-content select.single-choice {
	height: auto;
	max-height: auto;	
}

#runner-content .questiontitle td {
    vertical-align: top;
}

.right-area {
	float: left; 
	padding-left: 20px; 
	padding-right: 30px;
	padding-bottom: 30px;
	margin-left: 25px;
	width: 270px;
	overflow: visible;
	display: block;
	background-color: #fff;
}

.left-area {
 	float: left;  
	padding: 20px; 
 	width: 980px;
	overflow: visible;
	display: block;
	background-color: #fff;
}

.footer {
	Color: #000;
}

.surveyrunnerinfo p {
	color: #000;
}

.matrixtable tr:first-child {
    text-align: center;
}

.tabletable tr:first-child {
    text-align: center;
}

.slider-horizontal {	
	margin-top: 20px;
	width: 300px !important;
}

.slider-div {
	padding: 20px;
	padding-left: 40px;
	max-width: 420px;
}

.slider.slider-disabled .slider-track {
	background-color: #f5f5f5 !important;
	background-image: none !important;
}

.slider-selection.tick-slider-selection {
	background-color: #8ac1ef !important;
	background-image: none !important;
}

.slider-tick {
	background-color: #eee !important;
	background-image: none !important;
	
    filter: none !important;
 
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    filter: none;
    opacity: 1;
    border: 0 solid transparent;
}

.slider.slider-disabled .slider-handle {
	background-color: #ccc !important;
	background-image: none !important;
}

.rankingitem-list-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 20px;
}

.rankingitem-list {
	display: flex;
	flex-direction: column;
}

.rankingitem-form-data {
	display: flex;
	text-align: left;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-style: solid;
	border-color: #999;
	border-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px;
	cursor: move;
	background-color: #f5f5f5;
	border-radius: 5px;
}

.ranking-question-initial-answer-message {
	margin-left: 10px;
	font-style: italic;
	color: #666;
}

.question-reset-answer-message {
	margin-left: 10px;
	font-style: italic;
	color: #666;
}

.rankingitem-decoration {
	color: #333;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}

.rankingitem-button {
	margin-left: -3px;
	margin-right: 0px;
	padding: 0px 4px;
}

.rankingitem-button:focus {
	color: #23527c;
}

.rankingitemtext {
	color: #333;
	word-wrap: break-word;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 5px;
}

.progressBarPlaceholder {
	height: 20px;
}

.progressBar {
	z-index: 1000;	
	position: fixed;		
	top: 40px;
	width: 940px;
	height: 22px;	
}

#progressBarLabel {
	white-space: nowrap;
	padding: 5px;
}

.blacktext {
	color: #000;
}

.progressBar .progress {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.progress-bar-success {
   background-color: #39853c;
}

.choice-button-label{
	border-radius: 0;
	margin: 0;
	width: auto;
}

.choice-button-label:first-of-type{
	border-radius: 4px 0 0 4px;
}
.choice-button-label:last-of-type{
	border-radius: 0 4px 4px 0;
}