@media screen and (max-height: 575px){
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

.language-link {
    font-size: 2rem;
    margin: 0.5rem;
    line-height: 4rem;
}