.btn:focus-within, input:focus, a:focus, button:focus, textarea:focus, .slider-handle:focus, select:focus, .possibleanswerrow:focus-within, .matrix-cell:focus-within, .confirmationelement:focus-within, .galleryinfo:focus-within, .likert-pa:focus-within, .focusborder:focus-within {
	outline: 2px solid #FFD617;
	outline-offset: 0px;
	color: inherit;
	z-index: 10000;
}