<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All">
	<test name="Unit Test">
		<classes>
			<class name="com.ec.survey.model.TestSurvey"></class>
		</classes>
	</test>

    <test name="Integration Test">
		<classes>
			<class name="com.ec.survey.controller.TestSurveyControllerRefactored"></class>
		</classes>
	</test>
</suite>