
/*
------------------------------------------------------------------------------------------------------------------------------------
LIST
------------------------------------------------------------------------------------------------------------------------------------
*/

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
margin-top:5px;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
list-style-type: none;
padding-left: 22px;
margin-bottom: 6px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url("plus-white.png") no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

/*
------------------------------------------------------------------------------------------------------------------------------------
DEFINITION LIST
------------------------------------------------------------------------------------------------------------------------------------
*/

dl.dlClosed{
	display:none;
}

dl.dlOpen{
	display:visible;
}

dl.dlOpen dt.dtClosed{
	cursor:pointer;
	background: #D7D7D7 url("plus-white.png") no-repeat left 1px;
	padding:2px 2px 2px 20px;
}

dl.dlOpen dd.ddClosed{
	display:none;
}

dl.dlOpen dt.dtOpen{
	cursor:pointer;
	background: #D7D7D7 url("minus-white.png") no-repeat left 1px;
	padding:2px 2px 2px 20px;
}

 dl.dlOpen dd.ddOpen{
	display:block;
}