<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>hibernateFilterChain</filter-name>
    <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>springSessionRepositoryFilter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping -->


  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <!-- filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </!-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <!-- filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </!-->



  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/spring/mvc-dispatcher-servlet.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ec.survey.ShutdownListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>mvc-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/springapp.xml</param-value>
    </init-param>
    <init-param>
	    <param-name>trimSpaces</param-name>
	    <param-value>true</param-value>
	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
  	<tracking-mode>COOKIE</tracking-mode>
    <session-timeout>60</session-timeout>
    <cookie-config>
	  <http-only>true</http-only>
	 </cookie-config>
  </session-config>
  <error-page>
    <error-code>403</error-code>
    <location>/errors/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.html</location>
  </error-page>  
  <error-page>
    <error-code>405</error-code>
    <location>/errors/405.html</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>    
    <location>/errors/500.html</location>
  </error-page>
  <error-page>
  	<exception-type>org.springframework.security.web.firewall.RequestRejectedException</exception-type>
  	<location>/errors/request-rejected</location>
	</error-page>
<jsp-config>
    <taglib>
      <taglib-uri>http://www.owasp.org/index.php/Category:OWASP_Enterprise_Security_API</taglib-uri>
      <taglib-location>/WEB-INF/Content/esapi.tld</taglib-location>
    </taglib>
	<jsp-property-group>
	    <url-pattern>*.jsp</url-pattern>
	    <trim-directive-whitespaces>true</trim-directive-whitespaces>
	  </jsp-property-group>
  </jsp-config>
</web-app>
